<!DOCTYPE html>
<html class="no-js breakpoint-phone">
    <head>
        <meta charset="UTF-8">
        <title>Authorize</title>
        <title>Log in to {{ name }}</title>
        {% include 'head.twig' %}
    </head>
    <body>
        <div class="main pure-g">
            <div class="pure-u-1 pure-u-md-1-3"></div>

            <div class="pure-u-1 pure-u-md-1-3">
                <h1>
                {% if branding.enabled and branding.logo_path %}
                    <img id="custom-logo" class="pure-img" src="{{ branding.logo_path }}" alt="lxHive" title="">
                {% else %}
                    <img id="lxhive-logo" class="pure-img" src="/assets/images/lxHive.logo.png" alt="lxHive" title="">
                {% endif %}
                </h1>

                <form class="pure-form pure-form-aligned" action="" method="POST">
                    <fieldset>
                        <h2>Authorize application <span>{{ client.name }}?</h2>
                        <h5>Logged in as {{ user.email }}</h5>
                        {% if branding.enabled and branding.header %}
                            {{ branding.header }}
                        {% endif %}
                        <div class="pure-control-group">
                            This application will be able to:</p>
                            <ul>
                            {% for scope in scopes %}
                                <li><i class="icon-ok"></i>{{ scope.description }}</li>
                            {% else %}
                                <li>Do nothing (you must specify a scope parameter!).</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary button-xlarge button-allow" name="action" value="accept">Allow</button>
                            <button type="submit" class="pure-button pure-button-primary button-xlarge button-disallow" name="action" value="deny">Disallow</button>
                        </div>
                    </fieldset>
                </form>

            </div>

            <div class="pure-u-1 pure-u-1-3"></div>
        </div>
        {% include 'footer.twig' %}
    </body>
</html>
